[submodule "external/tinyobj"]
	path = external/tinyobj
	url = https://github.com/tinyobjloader/tinyobjloader.git
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
[submodule "external/googlebenchmark"]
	path = external/googlebenchmark
	url = https://github.com/google/benchmark.git
[submodule "external/lyra"]
	path = external/lyra
	url = https://github.com/bfgroup/Lyra.git
[submodule "external/protobuf"]
	path = external/protobuf
	url = https://github.com/protocolbuffers/protobuf.git
[submodule "benchmarks/dumux"]
	path = benchmarks/dumux
	url = https://github.com/dumux/dumux.git
[submodule "benchmarks/piclas"]
	path = benchmarks/piclas
	url = https://github.com/piclas-framework/piclas.git
[submodule "benchmarks/sparta"]
	path = benchmarks/sparta
	url = https://github.com/sparta/sparta.git
[submodule "benchmarks/splishsplash"]
	path = benchmarks/splishsplash
	url = https://github.com/InteractiveComputerGraphics/SPlisHSPlasH.git
